<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataset Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Dataset Analysis</h1>
        <p class="text-center"><a href="{{ url_for('visualization', page=1) }}">Dataset Visualization</a> | <a href="{{ url_for('quantitative') }}">Dataset Quantitative Analysis</a></p>
        <!-- <div class="table-responsive">
            {{ data|safe }}
        </div> -->
    </div>
</body>
</html>
